.woocommerce-page #content table.cart #AmazonInlineCheckoutWidget > img {
    min-width: 126px;
    min-height: 24px;
    margin-top: 6px;
}
#amazon-checkout.ui-accordion .ui-accordion-content {
    padding:0;
}
#amazon-checkout .col2-set {
    width: 100%;
}
#amazon-checkout #AmazonWalletWidget > div { float: right; }
#amazon-checkout > h3 { font-size: 24px; line-height: 28px; margin-bottom: 12px; }
#amazon-checkout #order_review { margin-top: 12px; }
#amazon-checkout #order_review .buttons { display: none; }


